<div class="weather-forecast">
    <div class="weather-forecast-block">
        <h2>Прогноз погоды в <span id="city-name">Душанбе</span></h2>
        <h3>Сегодня {{ currentDate | date:'dd.MM.yyyy ' }}</h3>
        <div class="weather-text">
            <p class="temperature" id="temperature">
                <img src="/assets/sun_icon.svg" alt="">
                <span>33°C</span>
            </p>
            <div class="weather-info-block">
                <p class="weather-info">Состояние: <span id="condition">Солнечно</span></p>
                <p class="weather-info">Влажность: <span id="humidity">60%</span></p>
                <p class="weather-info">Скорость ветра: <span id="wind-speed">15 км/ч</span></p>
            </div>
        </div>
        <div class="scroll-block">
            <table>
                <tbody>
                    <tr>
                        <td>04:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+20°C</td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+22°C</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+22°C</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+24°C</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+28°C</td>
                    </tr>
                    <tr>
                        <td>21:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+30°C</td>
                    </tr>
                    <tr>
                        <td>23:00</td>
                        <td><img src="./assets/sun_icon.svg" alt="Солнечно"></td>
                        <td>+31°C</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>