
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 30px 0 ;
}

.input-search {
    padding: 10px 20px;
    flex-basis: 35%;
    border-radius: 10px;
    background-color: var(--input-background);
    color: var(--input-color);
    border: 2px solid var(--input-border-active);
    font-size: 14px;
}

.input-search:active , 
.input-search:focus,
.input-search:hover {
    outline: none;
    border: 2px solid var(--input-border-active);
}

.search-button {
    padding: 10px 20px;
    width: 150px;
    border-radius: 10px;
    font-weight: 700;
    background-color: var(--button-background);
    color: var(--button-color);

}