@import url('./app/theme/theme.scss');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.8s, color 0.8s
}


@media (max-width: 1064px) {
    .header-block {
        padding: 15px 20px;
    }

    .text-header ul {
        gap: 10px;
    }

    .input-search {
        flex-basis: 80%;
        font-size: 12px;
    }

    .search-button {
        width: 100%;
        font-size: 14px;
    }

    .weather-forecast-block {
        padding: 20px;
        overflow: hidden;
    }

    .weather-forecast-block h2 {
        font-size: 28px;
    }

    .weather-forecast-block h3 {
        font-size: 20px;
    }

    .temperature {
        font-size: 40px;
    }

    .scroll-block {
        overflow-x: auto;
        scrollbar-width: thin;
    }

    .scroll-blockt tbody {
        flex-direction: column;
    }

    .scroll-block tr {
        padding: 20px;
        margin: 10px 0;
    }

    .scroll-block td {
        font-size: 18px;
    }
}




@media (max-width: 780px) { 

.header {
    display: flex;
    justify-content: space-between;
}

.header-block {
    padding: 10px 20px;
    width: 100% !important;
}

.text-header ul {
    gap: 5px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
}

.input-search {
    flex-basis: 90%;
    font-size: 10px;
}

.search-button {
    width: 100%;
    padding: 8px;
    font-size: 12px;
}

.weather-forecast-block {
    padding: 15px;
    flex-basis: 100%;
    overflow: hidden;
}

.weather-forecast-block h2 {
    font-size: 24px;
    text-align: center;
}

.weather-forecast-block h3 {
    font-size: 18px;
    text-align: center;
}

.temperature {
    font-size: 35px;
}

.scroll-block {
    margin: 10px 0;
    overflow-x: auto;
}

.scroll-block tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.scroll-block tr {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px 0;

}

.scroll-block td {
    font-size: 16px;
}

.icon-block img {
    width: 40px;
    height: 40px;
}

.weather-info-block {
    display: flex;
    flex-direction: column;
}

.weather-info-block p {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
}




